#logo{
    width: 240px;
    margin-left: 100px;
}


.rowtitle{
font-family: fantasy;
}

.rowbloc{
    color: #706e6e;
}
  
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

#section-1{
    height: 100vh;
    width: 100%;
    background-image: url("row1.png");
    background-size: cover;
    position: relative;
    overflow: hidden;

}

@font-face{
    font-family: 'Merriweather';
    src: url('Merriweather-Black.ttf');
}

@font-face{
    font-family: 'Rubik-Medium';
    src: url('Rubik-Medium.ttf');
}

@font-face{
    font-family:'Rubik-Bold';
    src: url('Rubik-Bold.ttf')
}

@font-face{
    font-family:'Merriweather-regul';
    src: url('Merriweather-Regular.ttf');
}


#title-color-white{
    color: white;
    font-family: 'Rubik-Bold';
    font-size: 16px;
    margin-left: 100pt;
    padding-bottom: 0pt;
}

#text-color-white{
    color: white;
    margin-top: 1pt ;
    margin-left: 100pt;
    font-family: 'Merriweather';
    font-size: 30px;
    line-height: 50px;
}

#playbuton{
    width: 70px;
    
    vertical-align: middle;
    
}

#text-color-white2{
    color: white;
    font-family: 'Rubik-Bold';
    font-size: 16px;
    margin-top: 200px;
    margin-left: 210px;
    
  
}

.rowtitle{
    margin-left: 120pt;
    font-family:'Merriweather';
    font-size: 40px;
    font-weight: bold;
    
}

.rowbloc{
    margin-left: 120pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#contactbuton{
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
    color: rgba(0, 0, 0, 0.4);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left:18px;
    padding-right:18px;
    border-radius: 4px;
}

#contactbuton:hover{
    background-color: rgba(0, 0, 0, 0);
    color:white;
}



#logo{
    padding-left:15px;
}





.navbar-nav{
align-items: center;
font-family: 'Rubik-Bold'
}


.titleplusblocpluslees{
    padding-top: 50px;
}

.lees-meer{
    border-style: solid;
    border-color:#606B74;
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top:8px ;
    padding-bottom:8px ;
    font-family:'Rubik-Bold';
    color:#606B74;
    
}

.lees-meer:hover{
    background-color: #606B74;
    color:white;
}


.col-sm-1{
    writing-mode: vertical-lr;
    margin-left: 500px;
    margin-top: 200px;
    position:absolute;
    word-spacing: 50px;
    color: white;
    font-family: 'Rubik-Bold';
}

.col-sm-1:hover{
    transform: scale(1.1);
}

#duurzame{
    font-family:'Merriweather';
    font-weight: bolder;
    font-size: 30px;
}

#alleecocabins{
    font-family: 'Rubik-Medium';
    font-weight: 500;
    color:#606B74;
    line-height:35px;
    font-size: 15px;
}




.col-md-4{
    margin-left: 130px;
    padding-top: 62px;
}

#poutre{
    width: 400px;
    margin-left: 200px;
    margin-top: -100px;
    padding-bottom: 100px;
    position: absolute;
    background-color: white;
}




#bckgrd{
    width: fit-content;
    
}