#logo{
    width: 240px;
}


.rowtitle{
font-family: fantasy;
}

.rowbloc{
    color: #706e6e;
}
  
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

#section-1{
    height: 120vh;
    width: 100%;
    background-image: url("row1.png");
    background-size: cover;
}

@font-face{
    font-family:'Rubik-Bold';
    src: url('Rubik-Bold.ttf');
    font-family: 'Merriweather'
    src: url('Merriweather-Black.ttf');
}



#title-color-white{
    color: white;
    font-family: 'Rubik-Bold';
    font-size: 16px;
    margin-left: 15pt;
    padding-bottom: 10pt;
}

#text-color-white{
    color: white;
    margin-top: -15pt ;
    margin-left: 15pt;
    font-family: 'Merriweather-Black';
    font-size: 40px;
    line-height: 40px;
}

#playbuton{
    width: 50px;
}

#text-color-white2{
    color: white;
    margin-top: 170pt;
    margin-left: 120pt;
    font-family: 'Rubik-Bold';
    font-size: 12px;
}

.rowtitle{
    margin-left: 125pt;
}

.rowbloc{
    margin-left: 125pt;
}


#contactbuton{
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
    color: rgba(0, 0, 0, 0.4);
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

#contactbuton:hover{
    background-color: rgba(0, 0, 0, 0);
    color:white;
}



#logo{
    padding-left:15px;
}

