#logo{
    width: 240px;
}


.rowtitle{
font-family: fantasy;
}

.rowbloc{
    color: #706e6e;
}
  
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

#section-1{
    height: 120vh;
    width: 100%;
    background-image: url("row1.png");
    background-size: cover;
}

@font-face{
    font-family: 'Merriweather';
    src: url('Merriweather-Black.ttf');
    font-family: 'Rubik-Bold';
    src: url('Rubik-Medium.ttf');
    font-family:'Rubik-Bold';
    src: url('Rubik-Bold.ttf')


}



#title-color-white{
    color: white;
    font-family: 'Rubik-Bold';
    font-size: 16px;
    margin-left: 15pt;
    padding-bottom: 10pt;
}

#text-color-white{
    color: white;
    margin-top: -15pt ;
    margin-left: 15pt;
    font-family: 'Merriweather-Black';
    font-size: 40px;
    line-height: 40px;
}

#playbuton{
    width: 70px;
    margin-right: 300px;
    margin-top: 150px;
    
}

#text-color-white2{
    color: white;
    margin-left: 120pt;
    font-family: 'Rubik-Bold';
    font-size: 16px;
  
}

.rowtitle{
    margin-left: 120pt;
    font-family:'Merriweather';
    font-size: 40px;
    font-weight: bold;
    
}

.rowbloc{
    margin-left: 120pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#contactbuton{
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
    color: rgba(0, 0, 0, 0.4);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left:18px;
    padding-right:18px;
    border-radius: 4px;
}

#contactbuton:hover{
    background-color: rgba(0, 0, 0, 0);
    color:white;
}



#logo{
    padding-left:15px;
}





.navbar-nav{
align-items: center;
font-family: 'Rubik-Bold'
}


.titleplusblocpluslees{
    padding-top: 50px;
}

.lees-meer{
    border-style: solid;
    border-color:#606B74;
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top:8px ;
    padding-bottom:8px ;
    font-family:'Rubik-Bold';
    color:#606B74;
    
}


.col-sm-1{
    writing-mode: vertical-lr;
    margin-left: 200px;
    margin-top: 200px;
    position:absolute;
    word-spacing: 50px;
    color: white;
    font-family: 'Rubik-Bold';
}

.col-sm-1:hover{
    transform: scale(1.1);
}